<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Home page" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="index.html" />
        </rule>
        <rule name="About page" stopProcessing="true">
          <match url="^about/?$" />
          <action type="Rewrite" url="aboutus.html" />
        </rule>
        <rule name="Contact page" stopProcessing="true">
          <match url="^contact/?$" />
          <action type="Rewrite" url="contactus.html" />
        </rule>
        <rule name="Internships page" stopProcessing="true">
          <match url="^internships/?$" />
          <action type="Rewrite" url="internships.html" />
        </rule>
        <rule name="Services page" stopProcessing="true">
          <match url="^services/?$" />
          <action type="Rewrite" url="servicePage.html" />
        </rule>
        <rule name="Remove .html extension" stopProcessing="true">
          <match url="^(.*)\.html$" />
          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
